body{
    background-color: var(--color-background);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.rocket{
    margin-right: 2.4rem;
}

.rocket img{
    width: 20rem;
    height: 7rem;

    margin-bottom: 5rem;
}
.rocket h1{
    width: 40.1rem;
    color: var(--color-text);
    font-size: 5.4rem;
}

.login{
    width: 48rem;
    height: 47.6rem;
    padding: 6.3rem;

    border-radius: 5px;
    color: #fff;
    background-color: var(--color-container);
}

.login input{
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    background: var(--color-background);
    border-color: var(--color-background);
    border: none;
    color: var(--color-text);

    margin-bottom: 1rem;
    padding: 0px 2.65em;
    border-radius: 5px;
}

.login .link-purple{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-primary);
    
    opacity: 0.8;
    transition: opacity 0.2s ease 0s;
}

.button{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;

    width: 35.2rem;
    height: 5rem;
    margin-top: 2rem;

    border: none;
    border-radius: 5px;
    background: rgb(65, 53, 107);
    color: rgba(255, 255, 255, 0.35);

    margin-bottom: 2.4rem;
    cursor: not-allowed;


}

.login > p{
    font-size: 1.4rem;
    text-align: center;
}

.networks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgb(40, 39, 47);;
    margin-top: 2rem;
    padding-top: 3rem;

}

.networks p{
    font-size: 1.4rem;
}

.networks .github{
    padding: 1.4rem 9rem;
    border-radius: 5px;

    background-color: var(--color-container-light);
}

.networks .github a{
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
  
}

