body{
    background-color: lemonchiffon;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    height: 100vh;
}

.rocket{
    width: 100%;
    max-width: 480px; 
}

.rocket img{
    margin-bottom: 6.6rem;
}

.rocket h1{
    font-size: 5.4rem;
}

form{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 480px;
    padding: 6.4rem;
    background-color: lightblue;
}

.container-input{
    display: grid;
    gap: 10px;
}


.container-input .input{
    position: relative;
}

.container-input .input img{
    position: absolute;
    top: 16px;
    left: 16px;
}

.container-input .input input{
    font-size: 1.6rem;

    width: 100%;
    height: 5rem;

    border: none;
    border-radius: 5px;
    padding: 0 1.6rem 0 4.2rem;
}

.link-purple{
    font-size: 1.4rem;
    margin: .8rem 0 2.4rem;
}

.button-log{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;

    height: 5rem;
    
    border-radius: 5px;
    border: none;
    color:#fff;
    background:lightgreen;

    transition: background 0.2s ease 0s, color 0.2s ease 0s;
}

form > p{
    font-size: 1.4rem;
    text-align: center;

    margin: 2.4rem 0 0; 
} 

.line{
    height: 4rem;
    position: relative;
}

.line::before{
    content: "";
    
    width: calc(50% - 25px);
    height: 1px;
    
    position: absolute;
    top: 50%;
    left: 0;

    background-color:black;
}

.line::after{
    content: "";

    width: calc(50% - 25px);
    height: 1px;

    position: absolute;
    top: 50%;
    right: 0;

    background-color:black;
}

.network-github{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.network-github div:first-child{
    font-size: 1.4rem;

    white-space: nowrap;
    margin-right: 2.4rem;
}

.network-github .button-git{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    
    border-radius: 5px;
    width: 100%;
    height: 5rem;
    background-color: lightslategrey;

    cursor: pointer;
}

.network-github img{
    margin-right: 1rem;
}