body{
    background-color: var(--color-background);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: auto;
    height: 100vh;   
}

.rocket{
    margin-right: 2.4rem;
}

.rocket img{
    width: 20rem;
    height: 4rem;

    margin-bottom: 5rem;
}

.rocket h1{
    font-size: 5.4rem;
    
    width: 40.1rem;

    color: var(--color-text);
}

.login{
    width: 48rem;
    height: 47.6rem;
    padding: 6.3rem;

    border-radius: 5px;

    color: #fff;
    background-color: var(--color-container);
}

.login input{
    font-size: 1.6rem;

    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
    padding: 0px 2.65em;
   
    border: none;
    border-radius: 5px;
    border-color: var(--color-background);
    color: var(--color-text);
    background: var(--color-background);
}

.login .input{
    position: relative;
}

.login .input img{
    position: absolute;
    top: 17px;
    left: 14px;

    color: var(--color-container);
}
s

.login input::placeholder{
    font-weight: 300;
}

.login .link-purple{
    font-size: 1.4rem;
    font-weight: 600;

    color: var(--color-primary);
    opacity: 0.8;
    transition: opacity 0.2s ease 0s;
}

.button{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;

    width: 35.2rem;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2.4rem;

    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.35);
    background: rgb(65, 53, 107);

    cursor: not-allowed;
}

.login > p{
    font-size: 1.4rem;
    text-align: center;
}

.networks{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 2rem;
    padding-top: 3rem;

    border-top: 1px solid var(--color-container-light);
}

.networks p{
    font-size: 1.4rem;
}

.networks .github{
    padding: 1.4rem 7rem;
 
    border: none;
    border-radius: 5px;
    background-color: var(--color-container-light);
   
    transition: background 0.2s;
    cursor: pointer;
}

.networks .github:hover{
    background-color: var(--color-primay-hover);
}


.networks .github img{
    padding: .4rem .6rem 0 0;  
}

.networks .github a{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

@media(max-widht: 900px){
    
}



