body{
    background-color: var(--color-background);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 100vh;
}

.rocket{
    width: 100%;
    max-width: 480px; 
}

.rocket img{
    width: 19.2rem;
    height: 3.7rem;
    margin-bottom: 6.6rem;
}

.rocket h1{
    font-size: 5.4rem;
    color: var(--color-text)
}

form{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 480px;
    padding: 6.4rem;
    
    border-radius: 5px;
    background-color: var(--color-container);
}

.container-input{
    display: grid;
    gap: 10px;
}


.container-input .input{
    position: relative;
}

.container-input .input img{
    position: absolute;
    top: 16px;
    left: 16px;
}

.container-input .input input{
    font-size: 1.6rem;

    width: 100%;
    height: 5rem;

    border: none;
    border-radius: 5px;
    padding: 0 1.6rem 0 4.2rem;

    color: #fff;
    background-color: var(--color-background);
}

form > p{
    color: white;
}
.link-purple{
    font-size: 1.4rem;
    font-weight: 600;
    margin: .8rem 0 2.4rem;

    transition: background 2s;
    color: rgb(65, 53, 107);
}

.link-purple:hover{
    color: #7c54d8;
}


.button-log{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;

    height: 5rem;
    
    border-radius: 5px;
    border: none;
    color:#fff;
    background: rgb(65, 53, 107);

    transition: background 0.2s ease 0s, color 0.2s ease 0s;
    cursor:not-allowed;
}

form > p{
    font-size: 1.4rem;
    text-align: center;

    margin: 2.4rem 0 0; 
} 

.line{
    height: 4rem;
    position: relative;
}

.line::before{
    content: "";
    
    width: calc(50% - 25px);
    height: 1px;
    
    position: absolute;
    top: 60%;
    left: 0;

    background: rgb(40, 39, 47);
}

.line::after{
    content: "";

    width: calc(50% - 25px);
    height: 1px;

    position: absolute;
    top: 60%;
    right: 0;

    background: rgb(40, 39, 47)
}

.network-github{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
}



.network-github div:first-child{
    font-size: 1.4rem;

    white-space: nowrap;
    margin-right: 2.4rem;

    color: #fff;
}

.network-github .button-git{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    
    padding: 0 6rem; 
    border-radius: 5px;
    width: 100%;
    height: 5rem;

    color: #fff;
    background-color: var(--color-container-light);

    transition: background 300ms;
    cursor: pointer;
}

.network-github .button-git svg{
    margin-right: 1rem;
    /* fill: var(--color-primary-hover); */
}

.network-github .button-git:hover{
    background-color: var(--color-primary-hover); 

}


.container-input input:focus{
    border: 2px solid var(--color-primary);
}